.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

a {
  color: beige;
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: black
}

.content::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.fwh-slide {
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

.section-content {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 10px;
  box-sizing: border-box;
}