.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.content::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.fwh-slide {
  height: 100vh;
  box-sizing: border-box;
  padding: 80px 40px 40px 40px;
}

.stick-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
