.destinations-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 80%;
  height: 100%;
  padding: 30px;
  border-radius: 8px;
}

.destinations-container .title {
  color: white;
  font-size: 6em;
}

.destinations-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.globe-container {
  flex-grow: 1;
  background-color: pink;
}

.info-container {
  flex-grow: 2;
  background-color: orange;
}