.destinations-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.76);
  height: 100%;
  border-radius: 8px;
}

.destinations-container .title {
  color: white;
  font-size: 6em;
}

.destinations-content {
  display: grid;
  grid-template-columns: 400px auto;
}

#globe-container {
  background-color: white;
  border-radius: 2px;
}

.info-container {
  background-color: orange;
  border-radius: 2px;
}