.destinations-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  border-radius: 8px;
}

.destinations-container .title {
  color: beige;
  font-size: min(6em, 15vw);
  padding-left: 10px;
}

.destinations-content {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: 100%;
  padding: 0.5rem;
}
