.destinations-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  border-radius: 8px;
}

.destinations-container .title {
  color: beige;
  font-size: min(6em, 15vw);
  padding-left: 10px;
}

.destinations-content {
  display: grid;
  grid-template-columns: 100% 0%;
  transition: grid-template-columns 0.25s;
  overflow: hidden;
  height: 100%;
}

.show {
  grid-template-columns: 50% 50%;
}
