.header .header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  border-radius: 0 0 10px 10px;
  z-index: 2;
}

/* Restrain header width for large screens */
.header-container {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  color: beige;
}

.header-container .logo {
  font-size: 4em;
  font-family: "Dancing Script", cursive;
}

.header-sections ul {
  margin: 1em 0 0.5em;
  text-align: center;
}

.header-sections li {
  display: inline;
}

.header-sections a {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4em;
  transition: background-color 0.25s;
}

.header-section:hover {
  background-color: beige;
}
