.home {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  color: var(--tropican-black);
}

/* Title Card */
.title-card {
  display: grid;
  text-align: center;
  margin-right: 1rem;
}

.title {
  font-size: 9em;
  font-family: "Dancing Script", cursive;
}

.subtitle {
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Zilla Slab Highlight", cursive;
}

.author {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

/* Call To Action */
.cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 20px;
  border: 2px dashed beige;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--tropican-sunset);
  transition: background-color 0.25s;
}

.cta-text {
  font-family: "Staatliches", cursive;
  font-size: min(5vw, 3rem);
  font-weight: bold;
  text-transform: uppercase;
}

.cta:hover {
  background-color: var(--tropican-darkred);
}
