.info-container {
  position: absolute;
  top: 0;
  right: -560px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 100%;
  color: var(--tropican-beige);
  background-color: var(--tropican-black);
  opacity: 90%;
  transition: right 0.25s ease;
  border-left: 1px var(--tropican-sunset) inset;
  border-radius: 8px 0px 0px 8px;
}

.show {
  right: 0;
}

.info-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Dancing Script", cursive;
  text-shadow: 0 0 10px black, 1px 1px 1px black;
}

.location-name {
  font-size: 4em;
}

.location-title {
  font-size: 2em;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: justify;
  padding: 5px 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4em;
}
