.dashboard {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Staatliches", cursive;
  font-size: 1.1rem;
  row-gap: 5px;
}

.score-entry {
  display: grid;
  grid-template-areas: 
    "score-name score-value"
    "score-bar score-bar";
  justify-content: space-between;
}

.score-bar {
  grid-area: score-bar;
  height: 2px;
  transition: width 0.25s ease-out;
  box-shadow: 0rem 0rem 10px 1px rgb(255 255 255 / 40%)
}

.cost-entry {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--tropican-beige);
}

.cost-entry:first-child {
  border-top: 1px dashed var(--tropican-beige);
}