.dashboard {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Staatliches", cursive;
}

.score-entry {
  display: grid;
  grid-template-areas: 
    "score-name score-value"
    "score-bar score-bar";
  justify-content: space-between;
}

.score-bar {
  grid-area: score-bar;
  height: 2px;
  transition: width 0.25s ease-out;
}

.cost-entry {
  display: flex;
  justify-content: space-between;
}